Census API Query

Change variables above 'base_url' to alter data queried

The 'cols' is the variable(s) you want to receive

For examples of variables check the census variables website linked.

## ACS 1

### state > county

In [1]:
import requests
import pandas as pd

# variable list
#https://api.census.gov/data/2018/acs/acs1/variables.html

# example format
#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=county:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B07013_003E,NAME'
state = '55'
county = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

ModuleNotFoundError: No module named 'requests'

### state > place

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=place:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B00001_001E,NAME'
state = '18'
place = '*'


base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=place:{place}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > subdivision

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=county%20subdivision:*&in=state:36&in=county:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B00001_001E,NAME'
state = '18'
subdivision = '*'
county = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county%20subdivision:{subdivision}&in=state:{state}&in=county:{county}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > congressional district

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=congressional%20district:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B00001_001E,NAME'
state = '18'
congressional = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=congressional%20district:{congressional}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

## ACS 5

### state > county

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs5/variables.html

#https://api.census.gov/data/2018/acs/acs5?get=B00001_001E&for=county:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs5'
cols = 'B00001_001E,NAME'
state = '18'
county = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > tract

Do not change this

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs5?get=B00001_001E&for=tract:*&in=state:01&in=county:*&key=YOUR_KEY_GOES_HERE

#B02001_001E
#B01001_001E
#B01003_001E


year = '2018'
dsource = 'acs'
dname = 'acs5'
cols = 'B03003_001E,B02001_002E,B02001_003E,B03001_002E,B03003_003E,B03002_003E,B19013_001E,B25008_001E,B25008_003E,NAME'
state = '55'
county = '079'
tract = '*'

################################
#B01003_001E TOTAL POP
#B03003_001E TOTAL POP 
#B02001_002E WHITE POP
#B02001_003E BLACK POP
#B03001_002E,B03002_002E,B03003_002E NOT HISPANIC POP
#B03002_003E NOT HISPANIC WHITE
#B03003_003E,B03002_012E,B03001_003E TOTAL HISPANIC POP

#B19013_001E Median Income

#B25001_001E Housing Units Total Est
#B25002_001E Occupancy Staus

# These Two are roughly equivalent
#B25003_001E Tenure Total
#B25003_002E Owner Occupied
#B25003_003E Renter Occupied

#B25008_001E Total Population in Occupied Housing Units by Tenure
#B25008_002E Owner Occupied
#B25008_003E Renter Occupied
############


names = [
         'TOTAL POP',
         'WHITE POP',
         'BLACK POP',
         'NOT HISPANIC POP',
         'TOTAL HISPANIC POP',
         'NOT HISPANIC WHITE',
         'MEDIAN INCOME',
         'TOTAL POP IN HOUSING UNITS',
         'RENTER OCCUPIED HOUSING UNITS',
         'NAME',
         'STATE',
         'COUNTY',
         'GEO_TRACT'
        ]

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=tract:{tract}&in=state:{state}&in=county:{county}'

response = requests.get(data_url)

data = pd.DataFrame(columns=names, data=response.json()[1:])
data.sort_values(by=['GEO_TRACT'])


#data.to_csv('Census Data.csv')

### state > county > tract > block group

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs5?get=B00001_001E&for=block%20group:*&in=state:01&in=county:025&in=tract:*&key=YOUR_KEY_GOES_HERE


# wild card * not allowed for county? maybe loop over counties

year = '2018'
dsource = 'acs'
dname = 'acs5'
cols = 'B06012_001E,NAME'
state = '55'
county = '079'
tract = '*'
block_group = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=block%20group:{block_group}&in=state:{state}&in=county:{county}&in=tract:{tract}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])

    B06012_001E  ... block group
0          None  ...           1
1          None  ...           3
2          None  ...           2
3          None  ...           3
4          None  ...           2
..          ...  ...         ...
854        None  ...           1
855        None  ...           1
856        None  ...           1
857        None  ...           5
858        None  ...           4

[859 rows x 6 columns]

## SF1

### state > county

In [ ]:
import requests
import pandas as pd

year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
county = '*'


base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])

   P001001                         NAME state county
0    39364     Harrison County, Indiana    18    061
1    33478       Jasper County, Indiana    18    073
2    70002      Hancock County, Indiana    18    059
3   145448    Hendricks County, Indiana    18    063
4    49462        Henry County, Indiana    18    065
..     ...                          ...   ...    ...
87   16212   Vermillion County, Indiana    18    165
88  107848         Vigo County, Indiana    18    167
89   15936       Tipton County, Indiana    18    159
90    7516        Union County, Indiana    18    161
91  179703  Vanderburgh County, Indiana    18    163

[92 rows x 4 columns]

### state > county > tract

In [ ]:
#https://api.census.gov/data/2000/dec/sf1?get=P001001,NAME&for=tract:*&in=state:01&key=YOUR_KEY_GOES_HERE


year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
tract = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'


data_url = f'{base_url}?get={cols}&for=tract:{tract}&in=state:{state}'
response = requests.get(data_url)
#print(data_url)
#print(response.text)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > tract > block

In [ ]:
'https://api.census.gov/data/2000/dec/sf1?get=P001001,NAME&for=block:*&in=state:04%20county:005&key=YOUR_KEY_GOES_HERE'

year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
county = '*'
tract = '*'
block = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=block:{block}&in=state:{state}%20county:{county}'
response = requests.get(data_url)
#print(data_url)
#print(response.text)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > tract > block group

In [ ]:
#	https://api.census.gov/data/2000/dec/sf1?get=P001001,NAME&for=block%20group:*&in=state:17%20county:097&key=YOUR_KEY_GOES_HERE

year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
county = '*'
tract = '*'
block = '*'
group = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=block%20group:{group}&in=state:{state}%20county:{county}'
response = requests.get(data_url)


#print(data_url)
#print(response.text)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])